<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <form action="/updateUserProfile?username=amirhossein7" method="post" enctype="multipart/form-data">
            <input type="file" name="profile_image" accept="image/*" />
            <input type="submit" class="btn btn-primary">
        </form>

        <br>
        <br>

        <button onclick="newChat()">chat</button>

        <script src="http://localhost:3001/socket.io/socket.io.js"></script>
        <script>
            const socket = io("http://localhost:3001", {
                extraHeaders: {
                    authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNDBkZTQ4OGUtNzIxZi00YjUwLTgxYzMtMjIyMjI5MjZkZmJjIiwiaWF0IjoxNjQ4NjU4ODk0LCJleHAiOjE2NDg5MTgwOTR9.s2CRCO9LEFy8NQRm3EEuJq_R7gICvDl8OVQ3BJ32VLc",
                }
            });
            console.log("~~~~~~~~~~");
            function newChat() {
                socket.emit("newChat", { "message": 12121 });
            }

        </script>
    </center>
</body>

</html>