<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <form action="/updateUserProfile?username=amirhossein7" method="post" enctype="multipart/form-data">
            <input type="file" name="profile_image" accept="image/*" />
            <input type="submit" class="btn btn-primary">
        </form>

        <br>
        <br>

        <button onclick="newChat()">chat</button>

        <script src="http://localhost:3001/socket.io/socket.io.js"></script>
        <script>

            const socket = io("http://localhost:3001", {
                extraHeaders: {
                    authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNDBkZTQ4OGUtNzIxZi00YjUwLTgxYzMtMjIyMjI5MjZkZmJjIiwiaWF0IjoxNjQ4OTgyMzUyLCJleHAiOjE2NDkyNDE1NTJ9.BFQh4oGWimD7RLaSuY-BAq5cU6ETyTchTNO5Kuc42eA",
                }
            });

            socket.on('pvMessage', (data) => {
                console.log(`new message from: ${data.from}`);
                console.log(data);
            })
            console.log("~~~~~~~~~~");
            function newChat() {
                socket.emit("newChat", {
                    "content": 12121,
                    "from": "40de488e-721f-4b50-81c3-22222926dfbc",
                    "to": "0e83986b-697f-4701-a95e-fccf1c6aa563"
                });
            }

        </script>
    </center>
</body>

</html>