<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <form action="/updateUserProfile?username=amirhossein7" method="post" enctype="multipart/form-data">
            <input type="file" name="profile_image" accept="image/*" />
            <input type="submit" class="btn btn-primary">
        </form>

        <br>
        <br>

        <button onclick="newChat()">chat</button>

        <script src="http://localhost:3001/socket.io/socket.io.js"></script>
        <script>
            const socket = io("http://localhost:3001", {
                extraHeaders: {
                    authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiMGU4Mzk4NmItNjk3Zi00NzAxLWE5NWUtZmNjZjFjNmFhNTYzIiwiaWF0IjoxNjQ4OTgyMjYyLCJleHAiOjE2NDkyNDE0NjJ9.NtyD1RJtB0mPiQR9Kc5S6etcq5w4dGE6AhRPVqLuO18",
                }
            });

            socket.on('pvMessage', (data) => {
                console.log(`new message from: ${data.from}`);
                console.log(data);
            })
            console.log("~~~~~~~~~~");
            function newChat() {
                socket.emit("newChat", { "from": 12121 });
            }

        </script>
    </center>
</body>

</html>